h1{
    color:brown;
    text-align: center;
    font-style: italic;
    font-size:100px;
}
.resize{
    width: 300px ;
    height: auto;
    
}
h2{
    color: blueviolet;

}
div{
    background-color: aqua;
}